# Forge Access Transformer
# Replaces the Fabric accesswidener (ui_utils.accesswidener)
# Makes Screen.m_142416_ (addRenderableWidget) accessible (protected in vanilla)
public net.minecraft.client.gui.screens.Screen addRenderableWidget(Lnet/minecraft/client/gui/components/events/GuiEventListener;)Lnet/minecraft/client/gui/components/events/GuiEventListener;
